body {
	--color-bg: #51504f;
	--color-text: #aaa8a6;
	--color-link: #ae9191;
	--color-link-hover: #fff;
}

.content__type {
	font-size: 5.5vw;
	max-width: calc(100vw - 20rem);
	margin: 0 auto;
	min-height: calc(100vh - 4rem);
	display: flex;
	align-items: center;
	font-family: benton-modern-display, serif;
	font-weight: 300;
	padding: 5rem 0;
	line-height: 1;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
	background-size: 80%;
}

.content__img {
	width: 100%;
	display: block;
}

/* Effect Styles */
.fold {
	overflow: hidden;
	width: 100vw;
	height: 80vh;
	will-change: transform;
}

.wrapper-3d {
	position: relative;
	perspective: 250px;
	transform-style: preserve-3d;
}

.fold-scroller {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.fold-center {
	transform-origin: center center;
	transform: translateZ(0px) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002004008016032, 1);
}

.fold-after {

	/* background: #dadada; */
	position: absolute;
	transform-origin: top center;
	transform: translateZ(0px) translate3d(0, 80vh, 0) rotateX(120deg) scale3d(1, 1.002004008016032, 1);
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

/* .fold-size-fix {
	transform: scaleY(0.995);
} */
.fold-size-fix {
	transform-origin: center center;
	transform: scaleY(0.998);
}

.fold-before {

	/* background: #dadada; */
	position: absolute;
	transform-origin: bottom center;
	transform: translateZ(0px) translate3d(0, -80vh, 0) rotateX(-120deg) scale3d(1, 1.002004008016032, 1);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.fold-before h1 {

	/* color: red !important; */
}

.fold-after .fold-scroller {
	transform: translateY(-100%);
}

.fold-before .fold-scroller {
	transform: translateY(100%);
}

/* Debug */
.debug .fold:nth-child(2n) {
	background: #dadada;
}

.debug .fold:nth-child(2n + 1) {
	background: #bababa;
}

.btn-debug {
	position: fixed;
	top: 10px;
	padding: 1rem;
	font-size: 16px;
	text-transform: uppercase;
	right: 10px;
	cursor: pointer;
	z-index: 100;
}