.fold-scroller {
  /* Twice the fold's width */
  width: 60vw;
}

.fold {
  overflow: hidden;
  height: 60vh;
  /*  half the fold-scroller width */
  width: 30vw;
}
/* center fold + both side folds need to add up to 100vh  */
.fold-before,
.fold-after {
  height: 20vh;
}

.side-left .fold-before-1 {
  transform: skewX(40deg);
}

.side-left .fold-after-1 {
  transform: skewX(-40deg);
}

.side-right .fold-before-1 {
  transform: skewX(-40deg);
}

.side-right .fold-after-1 {
  transform: skewX(40deg);
}

/* Required a is for the effect */
.wrapper-3d {
  position: relative;
  perspective: 250px;
  transform-style: preserve-3d;
}

.fold-after {
  position: absolute;
  transform-origin: top center;
  right: 0;
  left: 0;
  top: calc(100%);
}

.fold-before {
  position: absolute;
  transform-origin: bottom center;
  left: 0;
  right: 0;
  bottom: calc(100%);
}
