/* Styling */

/* Effect Styles */
body {
  overflow: hidden;
  user-select: none;
  cursor: grab;
}
.fold {
  overflow: hidden;
  width: 40vw;
  height: 50vh;
  will-change: transform;
}
#fold-effect {
}
.wrapper-3d {
  position: relative;
  perspective: 50vw;
  transform-style: preserve-3d;
}
.fold-content {
  display: flex;
  width: min-content;
  height: 100%;
  flex-direction: row;
}
.fold-scroller {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.fold-center {
  transform-origin: center center;
  transform: translateZ(0px) translate3d(0, 0, 0) rotateX(0)
    scale3d(1, 1.002004008016032, 1);
}
.fold-main {
}
.wrapper-3d {
  position: absolute;
  right: 0;
}

.fold-after {
  /* background: #dadada; */
  position: absolute;
  transform-origin: top center;
  transform: translateZ(0px) translate3d(0, 80vh, 0) rotateX(120deg)
    scale3d(1, 1.002004008016032, 1);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.square--vertical {
  height: 100%;
  width: 40vw;
  background: coral;
}
/* .fold-size-fix {
  transform: scaleY(0.995);
} */
.fold-size-fix {
  transform-origin: center center;
  transform: scaleY(0.998);
}
.fold-before {
  /* background: #dadada; */
  position: absolute;
  transform-origin: right center;
  transform: translate3d(-100%, 0, 0) rotateY(-10deg)
    scale3d(1, 1.002004008016032, 1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fold-before-1 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg)
    scale3d(1, 1.002004008016032, 1);
}

.fold-before-2 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0)
    rotateY(35deg) scale3d(1, 1.002004008016032, 1);
}

.fold-before-3 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0)
    rotateY(35deg) translate3d(-100%, 0, 0) rotateY(110deg)
    scale3d(1, 1.002004008016032, 1);
}
.fold-main .fold-scroller {
  transform: translateX(-200%);
}
.fold-before-1 .fold-scroller {
  transform: translateX(-100%);
}
.fold-before-2 .fold-scroller {
  transform: translateX(0%);
}
.fold-before-3 .fold-scroller {
  transform: translateX(100%);
}
.fold-before-4 .fold-scroller {
  transform: translateX(400%);
}
/* Debug */

.debug .fold:nth-child(2n) {
  background: #dadada;
}
.debug .fold:nth-child(2n + 1) {
  background: #bababa;
}

.btn-debug {
  position: fixed;
  top: 10px;
  padding: 1rem;
  font-size: 16px;
  text-transform: uppercase;
  right: 10px;
  cursor: pointer;
  z-index: 100;
}
